<%= form_for :gallery_image, :url => admin_gallery_gallery_images_path(@gallery), :html => { :class => "upload", :multipart => true } do |f| %>
<div class="module_content">
  <fieldset>
		<%= f.file_field :image %>
  </fieldset>
</div>

<table class="tablesorter upload_files" cellspacing="0"></table>
<table class="tablesorter download_files" cellspacing="0">
  <thead>
    <tr>
      <th>Imagem da galeria</th>
      <th>Nome do arquivo</th>
      <th>Localização</th>
      <th>Ações</th>
    </tr>
  </thead>
  <% if !@gallery.gallery_images.blank? %>
    <% for gallery_image in @gallery.gallery_images %>
      <tr>
        <td><%=image_tag gallery_image.image.url(:thumb) %></td>
        <td><%=gallery_image.image_file_name%></td>
        <td><%=link_to truncate(gallery_image.image.url), gallery_image.image.url, :alt => gallery_image.image.url, :title => gallery_image.image.url %></td>
        <td>
        <%= link_to 'remover', admin_gallery_gallery_image_path(gallery_image.gallery,gallery_image), :method => :delete, :confirm => 'Tem certeza desta operação?' %>
        </td>
      </tr>
    <% end %>
  <% else %>
    
  <% end %>
  
</table>
<% end %>

<% content_for :head do %>
<%=stylesheet_link_tag 'jquery.fileupload-ui'%>
<script type="text/javascript" charset="utf-8">
$(document).ready(function(){ 
    $('.upload').fileUploadUI({
        uploadTable: $('.upload_files'),
        downloadTable: $('.download_files'),
        buildUploadRow: function (files, index) {
            var file = files[index];
            return $('<tr><td>' + file.name + '<\/td>' +
                    '<td class="file_upload_progress"><div><\/div><\/td>' +
                    '<td class="file_upload_cancel">' +
                    '<div class="ui-state-default ui-corner-all ui-state-hover" title="Cancelar">' +
                    '<span class="ui-icon ui-icon-cancel">Cancelar<\/span>' +
                    '<\/div><\/td><\/tr>');
        },
        buildDownloadRow: function (file) {
          var row = '<tr>' +
          '<td><img alt="'+file.name+'" src="'+file.thumb_path+'"></td>' + 
          '<td>'+file.name+'</td>' + 
          '<td><a href="'+file.normal_path+'" alt="'+file.normal_path+'" title="'+file.normal_path+'">'+file.normal_path.substr(0,30)+'...</a></td>' + 
          '<td></td>' + 
          '</tr>';

          return $(row);
        },
        onComplete: function(){
          // var table = $(".tablesorter");
          // table.trigger("update")
          //   // .trigger("sorton", [usersTable.get(0).config.sortList])
          //   .trigger("appendCache")
          //   .trigger("applyWidgets");
          equalHeight($('.column'));
        }
        // ,
        //        onComplete: function (event, files, index, xhr, handler) { 
        //            $.ajax({
        //              type: "GET",
        //              url: "/remote/show_pic/",
        //              success: function(data){
        //                       cropping_arrived();
        //                       }
        //              });
        //        }
    });
});
</script>
<% end %>