<%= simple_form_for([:admin,@gallery], :html => {:multipart => true}) do |f| %>
<div class="module_content">

  <fieldset  style="width:48%; float:left; margin-right: 31px;">
    <%= f.association :event, :collection => events_choices, :input_html => {:style => "width:92%"} %>
  </fieldset>
  <fieldset style="width:48%; float:left;">
    <%= f.association :place, :input_html => {:style => "width:92%"} %>
  </fieldset>
  
  <fieldset  style="width:48%; float:left; margin-right: 31px;">
    <%= f.association :gallery_category, :input_html => {:style => "width:92%"}  %>
  </fieldset>
  <fieldset style="width:48%; float:left;">
    <%= f.input :type_gallery, 
    :collection => [['Comum',Gallery::Types::COMMON],['Colírio',Gallery::Types::COLLYRIUM]],
    :input_html => {:style => "width:92%"}  %>
  </fieldset>
  
  <fieldset>
    <%= f.input :photographers  %>
  </fieldset>
  <fieldset>
    <%= f.input :title %>
  </fieldset>
  
  <fieldset>
    <%= f.input :image_front %>
  </fieldset>
  <% unless @gallery.image_front_file_name.blank? %>
  <center>
  <%=image_tag @gallery.image_front.url(:big)%>
  </center>
  <% end %>
  
  <fieldset>
    <%= f.input :folder_with_images,
    :collection => image_folders,
    :include_blank => true %>
  </fieldset>
  <fieldset>
    <%= f.input :description, :input_html => {:rows => 15} %>
  </fieldset>
  <fieldset>
    <%=f.input :realized_at, :input_html => {:style => 'width:auto;margin:0 2px;'} %>
  </fieldset>
</div>
<footer>
  <div class="submit_link">
    <%= f.button :submit, :value => 'Salvar', :class => 'alt_btn' %>
  </div>
</footer>
<% end %>
<% content_for :head do %>
<%= javascript_include_tiny_mce_if_used %>
<%= tiny_mce if using_tiny_mce? %>
<% end %>