<table class="tablesorter" cellspacing="0">
  <thead>
  <tr>
    <th>Autor</th>
    <th>Comentário</th>
    <th>Data</th>
    <th>Ações</th>
  </tr>
  </thead>
  <% if !@gallery.gallery_comments.blank? %>
    <% for gallery_image_comment in @gallery.gallery_comments %>
      <tr>
        <td><%=gallery_image_comment.user.name%></td>
        <td><pre><%=gallery_image_comment.comment%></pre></td>
        <td><%=l gallery_image_comment.created_at, :format => :short%></td>
      </tr>
    <% end %>
  <% else %>
    
  <% end %>
  
</table>