<%
title 'Galerias'
breadcrumbs([
  {:text => 'Galerias'}
])
%>

<article class="module width_full">
  <header>
    <h3>Lista de Galerias </h3>
    
  </header>
  <%=button_new('Criar galeria',new_admin_gallery_path)%>
  

  <table class="tablesorter" cellspacing="0"> 
    <thead> 
      <tr> 
        <!-- <th class="header"></th>  -->
        <th width="250" class="header">Título</th> 
        <th class="header">Categoria</th> 
        <th class="header">Local</th> 
        <th class="header">Evento</th> 
        <th class="header">Realizada em</th> 
        <th class="header">Ações</th> 
      </tr> 
    </thead> 
    <tbody> 
      <% @galleries.each do |gallery| %>
      <tr> 
        <!-- <td><input type="checkbox"></td>  -->
        <td><%= gallery.title %></td> 
        <td><%= gallery.gallery_category.name if gallery.gallery_category %></td> 
        <td><%= gallery.place.name if gallery.place %></td> 
        <td><%= gallery.event.title if gallery.event %></td> 
        <td><%= l gallery.realized_at, :format => :short %></td> 
        <td><%= actions_common(gallery)%></td> 
      </tr> 
      <% end %>

    </tbody> 
  </table>
  
  <%=will_paginate @galleries%>
</article>