<h1 class="green">revista</h1>
<h2 class="green"><%=@magazine.title%></h2>

<div id="list-2-columns">
  <div id="top-image">
    <%=image_tag @magazine.photo.url(:big)%>
  </div>
  
  <div id="details">
    <ul class="disc">
      <li><em><%=l @magazine.realized_at%></em></li>
    </ul>
    <%=simple_format @magazine.description%>
  </div>
</div>
<div class="clear"></div>

