<div id="list-2-columns">
  <h1 class="green">revistas</h1>
  <% @magazines.in_groups_of(2,false).each do |magazines_grouped| %>
  <% magazines_grouped.each_with_index do |magazine,i| %>
  <div class="box-list <%='first' if i == 0%>">
  <%= link_to image_tag(magazine.photo.url(:home), :size => '370x152'), detalhes_revista_path(magazine)%>
  <h3><%=link_to truncate(magazine.title, :length => 40), detalhes_revista_path(magazine)%> - <%=l magazine.realized_at, :format => :short%></h3>
  </div>
  <% end %>
  <% end %>
  <div class="clear"></div>
  <%=will_paginate @magazines%>
</div>