<%= simple_form_for([:admin,@event], :html => { :multipart => true }) do |f| %>
<div class="module_content">


  <fieldset>
    <%=f.input :title%>
  </fieldset>
  
  <fieldset>
    <%=f.input :realized_at, :input_html => {:style => 'width:auto;margin:0 2px;'} %>
  </fieldset>
  
  <fieldset>
    <%=f.input :photo%>
  </fieldset>
  
  <% unless @event.photo_file_name.blank? %>
  <fieldset>
    <label>Imagem atual</label>
    <%=link_to @event.photo_file_name, @event.photo.url, :target => "_blank"%>
  </fieldset>
  <% end %>
  
  <fieldset>
    <%=f.association :event_category%>
  </fieldset>
  
  <fieldset>
    <%=f.association :place%>
  </fieldset>
  
  <fieldset>
    <%=f.input :address%>
  </fieldset>
  
  <fieldset>
    <%=f.label :description%>
  </fieldset>
  <%= f.text_area :description, :rows => 15, :cols => 100, :class => 'mceEditor' %>
  <fieldset>
    <%= f.input :show_in_front %>
  </fieldset>
  <fieldset>
    <%= f.input :is_special %>
  </fieldset>
  
  
</div>
<footer>
  <div class="submit_link">
    <%= f.button :submit, :value => 'Salvar', :class => 'alt_btn' %>
  </div>
</footer>
<% end %>
<% content_for :head do %>
<%= javascript_include_tiny_mce_if_used %>
<%= tiny_mce if using_tiny_mce? %>
<% end %>