<%
title 'Eventos - Novo Evento'
breadcrumbs([
  {:text => 'Eventos', :url => admin_events_path},
  {:text => 'Novo evento'},
])
%>
<article class="module width_full">
  <header><h3>Novo evento</h3></header>
  <%= render 'form' %>
</article>