<%= simple_form_for([:admin,@banner], :html => {:multipart => true}) do |f| %>
<div class="module_content">

  <fieldset>
    <%= f.input :title %>
  </fieldset>
  <fieldset>
    <%= f.association :places, :input_html => {:multiple => true, :size => 5, :style => 'height:76px'} %>
  </fieldset>
  <fieldset>
    <%= f.input :type_file,
    :collection => [['Imagem',Banner::Types::IMAGE],['Arquivo Flash',Banner::Types::SWF]],
    :include_blank => false
     %>
  </fieldset>
  <fieldset class="for-image">
    <%= f.input :image %>
  </fieldset>
  <fieldset class="for-swf">
    <%= f.input :swf %>
  </fieldset>
  <fieldset class="for-image">
    <%= f.input :url, :input_html => {:type => :text} %>
  </fieldset>
</div>
<footer>
  <div class="submit_link">
    <%= f.button :submit, :value => 'Salvar', :class => 'alt_btn' %>
  </div>
</footer>
<% end %>
<script type="text/javascript" charset="utf-8">
  $(document).ready(function(){
    if($('#banner_type_file').val() == gon.banner_image){
      $('.for-image').show();
      $('.for-swf').hide();
    }else{
      $('.for-image').hide();
      $('.for-swf').show();
    }
    
    $('#banner_type_file').change(function(){
      if($(this).val() == gon.banner_image){
        $('.for-image').show();
        $('.for-swf').hide();
      }else{
        $('.for-image').hide();
        $('.for-swf').show();
      }
    })
  })
</script>