<%
title 'Banners - Alterando Banner'
breadcrumbs([
  {:text => 'Banners', :url => admin_banners_path},
  {:text => 'Alterando banner'},
])
%>
<article class="module width_full">
  <header><h3>Alterando banner</h3></header>
  <%= render 'form' %>
</article>