<%
title 'Categorias de Vídeos - Nova Categoria'
breadcrumbs([
  {:text => 'Categorias de Vídeos', :url => admin_video_categories_path},
  {:text => 'Nova categoria'},
])
%>
<article class="module width_full">
  <header><h3>Nova categoria de Vídeo</h3></header>
  <%= render 'form' %>
</article>