<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @admin_video_category.name %>
</p>


<%= link_to 'Edit', edit_admin_video_category_path(@admin_video_category) %> |
<%= link_to 'Back', admin_video_categories_path %>
