<%
title 'Notícias - Alterando Notícia'
breadcrumbs([
  {:text => 'Notícias', :url => admin_news_index_path},
  {:text => 'Alterando notícia'},
])
%>
<article class="module width_full">
  <header><h3>Alterando notícia</h3></header>
  <%= render 'form' %>
</article>