<%
title 'Notícias'
breadcrumbs([
  {:text => 'Notícias'}
])
%>

<article class="module width_full">
  <header>
    <h3>Lista de Notícias </h3>
    
  </header>
  <%=button_new('Criar notícia',new_admin_news_path)%>
  

  <table class="tablesorter" cellspacing="0"> 
    <thead> 
      <tr> 
        <!-- <th class="header"></th>  -->
        <th width="250" class="header">Título</th> 
        <th class="header">Categorias</th> 
        <th class="header">Criada em</th> 
        <th class="header">Ações</th> 
      </tr> 
    </thead> 
    <tbody> 
      <% @news.each do |news| %>
      <tr> 
        <!-- <td><input type="checkbox"></td>  -->
        <td><%= news.title %></td> 
        <td><%= news.categories.collect{|t| t.name}.join(', ') %></td> 
        <td><%= l news.created_at, :format => :short %></td> 
        <td><%= actions_common(news)%></td> 
      </tr> 
      <% end %>

    </tbody> 
  </table>
  
  <%=will_paginate @news%>
</article>