<%
title 'Notícias - Nova Notícia'
breadcrumbs([
  {:text => 'Notícias', :url => admin_news_index_path},
  {:text => 'Nova notícia'},
])
%>
<article class="module width_full">
  <header><h3>Nova notícia</h3></header>
  <%= render 'form' %>
</article>