<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @admin_news.title %>
</p>

<p>
  <b>Photo:</b>
  <%= @admin_news.photo %>
</p>

<p>
  <b>Short description:</b>
  <%= @admin_news.short_description %>
</p>

<p>
  <b>Content:</b>
  <%= @admin_news.content %>
</p>

<p>
  <b>Show in front:</b>
  <%= @admin_news.show_in_front %>
</p>

<p>
  <b>Is special:</b>
  <%= @admin_news.is_special %>
</p>


<%= link_to 'Edit', edit_admin_news_path(@admin_news) %> |
<%= link_to 'Back', admin_news_index_path %>
