<%
title 'Textos dos Colunistas'
breadcrumbs([
  {:text => 'Textos dos colunistas'}
])
%>

<article class="module width_full">
  <header>
    <h3>Textos dos Colunistas</h3>
    
  </header>
  <%=button_new('Criar texto',new_admin_column_text_news_path)%>
  

  <table class="tablesorter" cellspacing="0"> 
    <thead> 
      <tr> 
        <!-- <th class="header"></th>  -->
        <th width="250" class="header">Título</th> 
        <th class="header">Colunista</th> 
        <th class="header">Criado em</th> 
        <th class="header">Ações</th> 
      </tr> 
    </thead> 
    <tbody> 
      <% @column_text_news.each do |column_text_news| %>
      <tr> 
        <!-- <td><input type="checkbox"></td>  -->
        <td><%= column_text_news.title %></td> 
        <td><%= column_text_news.columnist.name %></td> 
        <td><%= l column_text_news.created_at, :format => :short %></td> 
        <td><%= actions_common(column_text_news)%></td> 
      </tr> 
      <% end %>

    </tbody> 
  </table>
  
  <%=will_paginate @column_text_news%>
</article>
