<%
title 'Textos dos colunistas - Novo Texto'
breadcrumbs([
  {:text => 'Textos dos colunistas', :url => admin_column_text_news_index_path},
  {:text => 'Novo texto'},
])
%>
<article class="module width_full">
  <header><h3>Nova texto do colunista</h3></header>
  <%= render 'form' %>
</article>