<div id="list-news">
  <h1 class="green">notícias</h1>
  <% @news.in_groups_of(2,false).each do |news_grouped| %>
  <% news_grouped.each_with_index do |news,i| %>
  <div class="news-box box-list <%='first' if i == 0%>">
  <%= link_to image_tag(news.photo.url(:home), :size => '370x152'), detalhes_noticia_path(news)%>
  <h3><%=link_to truncate(news.title, :length => 40), detalhes_noticia_path(news)%> - <%=l news.created_at, :format => :short%></h3>
  </div>
  <% end %>
  <% end %>
  <div class="clear"></div>
  <%=will_paginate @news%>
</div>

<% content_for :head do %>
<%=stylesheet_link_tag 'frontend/home','frontend/noticias'%>
<% end %>