<%= simple_form_for([:admin,@place]) do |f| %>
<div class="module_content">

  <fieldset>
    <%= f.input :name %>
  </fieldset>
  <fieldset>
    <%= f.input :address %>
  </fieldset>
  <fieldset>
    <%= f.input :description, :input_html => {:rows => 15} %>
  </fieldset>
</div>
<footer>
  <div class="submit_link">
    <%= f.button :submit, :value => 'Salvar', :class => 'alt_btn' %>
  </div>
</footer>
<% end %>