<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @admin_place.name %>
</p>

<p>
  <b>Address:</b>
  <%= @admin_place.address %>
</p>

<p>
  <b>Latitude:</b>
  <%= @admin_place.latitude %>
</p>

<p>
  <b>Longitude:</b>
  <%= @admin_place.longitude %>
</p>

<p>
  <b>Description:</b>
  <%= @admin_place.description %>
</p>


<%= link_to 'Edit', edit_admin_place_path(@admin_place) %> |
<%= link_to 'Back', admin_places_path %>
