<h1 class="clean-blue">vídeos</h1>
<h2 class="clean-blue">
  filtrar por categorias:
</h2>
<p class='like-link'>
<%= list_video_categories_link%>
</p>
<p><%=@videos.total_entries%> vídeos encontrados</p>

<div id="list-one-column">  
  <% @videos.each do |video| %>
  <div class="box-list" style="margin-top:15px; margin-left:125px; width: 500px">
    <%=raw yt_client.video_by(video.url).embed_html_with_width(500)   %>
    <h3><%=video.title%> <em>em <%=video.video_category.name%></em></h3>
  </div>
  <% end %>
  <div class="clear"></div>
  <%=will_paginate @videos%>
</div>
