<%
title 'Categorias de Notícias - Nova Categoria'
breadcrumbs([
  {:text => 'Categorias de Notícias', :url => admin_news_categories_path},
  {:text => 'Nova categoria'},
])
%>
<article class="module width_full">
  <header><h3>Nova categoria de Notícia</h3></header>
  <%= render 'form' %>
</article>