<h1>Fale conosco</h1>

<p>Preencha os dados abaixo para entrar em contato conosco. Em breve responderemos.</p>

<%=form_tag enviar_fale_conosco_path, {:class => 'form', :id => 'contact_form'} do %>
<p>
  <%= label_tag :name, "Nome" %>
  <%= text_field_tag :name,'', :class => 'required text' %>
</p>

<p>
  <%= label_tag :subject, "Assunto" %>
  <%= text_field_tag :subject,'', :class => 'required text' %>
</p>

<p>
  <%= label_tag :email, "E-mail" %>
  <%= text_field_tag :email,'', :class => 'required text' %>
</p>

<p>
  <%= label_tag :phone, "Telefone" %>
  <%= text_field_tag :phone,'', :class => 'text' %>
</p>

<p style="width:700px">
  <%= label_tag :message, "Mensagem" %>
  <%= text_area_tag :message, '', :class => 'required text', :style => 'width: 650px;height:200px' %>
</p>

<p><%= submit_tag "Enviar", :class => 'submit' %></p>
<% end %>


<% content_for :head do %>
<%=javascript_tag do %>
$(document).ready(function(){
  $('#contact_form').validate()
})
<% end %>
<% end %>