<%
title 'Revistas'
breadcrumbs([
  {:text => 'Revistas'}
])
%>

<article class="module width_full">
  <header>
    <h3>Lista de Revistas </h3>
    
  </header>
  <%=button_new('Criar revista',new_admin_magazine_path)%>
  

  <table class="tablesorter" cellspacing="0"> 
    <thead> 
      <tr> 
        <!-- <th class="header"></th>  -->
        <th width="250" class="header">Título</th> 
        <th class="header">Realizada em</th> 
        <th class="header">Ações</th> 
      </tr> 
    </thead> 
    <tbody> 
      <% @magazines.each do |magazine| %>
      <tr> 
        <!-- <td><input type="checkbox"></td>  -->
        <td><%= magazine.title %></td> 
        <td><%= l magazine.realized_at, :format => :short %></td> 
        <td><%= actions_common(magazine)%></td> 
      </tr> 
      <% end %>

    </tbody> 
  </table>
  
  <%=will_paginate @magazines%>
</article>