<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @admin_magazine.title %>
</p>

<p>
  <b>Photo:</b>
  <%= @admin_magazine.photo %>
</p>

<p>
  <b>Description:</b>
  <%= @admin_magazine.description %>
</p>

<p>
  <b>Realized at:</b>
  <%= @admin_magazine.realized_at %>
</p>


<%= link_to 'Edit', edit_admin_magazine_path(@admin_magazine) %> |
<%= link_to 'Back', admin_magazines_path %>
