<div id="gallery_image_container">
<center style="margin-top:16px;position:relative">
<%=image_tag @gallery_image.image.url(:detail)%>
</center>
  <div id="face_and_comment">
  <div style="width:55%;float:left">
  <iframe src="//www.facebook.com/plugins/like.php?href=<%=galeria_ver_foto_url(@gallery_image.gallery,@gallery_image)%>&amp;send=false&amp;layout=button_count&amp;width=350&amp;show_faces=false&amp;action=like&amp;colorscheme=light&amp;font=tahoma&amp;height=21" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:350px; height:21px;" allowTransparency="true"></iframe>
  </div>
  <% if logged? %>
  <div style="width:310px;float:right;">
    <!-- <h3>Comente também...</h3> -->
  
    <%=form_tag galeria_comentar_foto_path(@gallery_image.gallery,@gallery_image), :id => 'form-comment' do%>
    <%=text_field_tag :comment %>
    <%=submit_tag 'Comentar', :type => :button, :id => 'comment-submit' %>
    <% end -%>
    <div id="comment_list" >
      <ul>
        <% @gallery_image.gallery_image_comments.each do |comment| %>
        <li><em><%=comment.user.name%></em>: <%=comment.comment%></li>
        <% end -%>
      </ul>
    </div>
  </div>
  <% end -%>

  <script type="text/javascript">
    function sendComment(){
      if($.trim($("#comment").val()) == ''){
        $("#comment").val('')
        $("#comment").focus()
        return false;
      }

      $.post($("#form-comment").attr('action'),$("#form-comment").serialize(),function(data){
        if($.trim(data) != ''){
          $('#comment_list ul').prepend(data)
          $("#comment").val('')
          $('#comment_list').show()

          // $("#comment_list").animate({ scrollTop: $("#comment_list").attr("scrollHeight") }, 3000);
          // $('#comment_list').focus()

          // var objDiv = document.getElementById("comment_list");
          // objDiv.scrollTop = objDiv.scrollHeight;

          // $("#comment_list").scrollTop($("#comment_list")[0].scrollHeight);

          
        }
        
      })
    }

  $(function(){
    if($('#comment_list li').length == 0){
      $('#comment_list').hide()
    }

    $("#comment-submit").click(function(e){
      e.preventDefault();
      sendComment();
    })

    $("#form-comment").submit(function(e){
      e.preventDefault();
      sendComment();
      return false;
    })

  })
  </script>

  <div style="clear:both"></div>
  </div>
</div>

