<% if owner?(@user) %>
<div id="form"><%=render :partial => "form"%></div>
<div class="clear"></div>
<% end %>

<% if !@user_albums.blank? %>
  <div id="list-albums">
    <% if owner?(@user) %>
    <h1 class="green">meus álbuns</h1>
    <% else %>
    <h1 class="green">você está vendo os álbuns de <%=@user.name%></h1>
    <% end %>
    <% @user_albums.in_groups_of(2,false).each do |user_albums_grouped| %>
    <% user_albums_grouped.each_with_index do |user_album,i| %>
    <div class="albums-box box-list <%='first' if i == 0%>">
    <%= link_to(image_tag(user_album.user_album_image.image.url(:list), :size => '370x152'), detalhes_album_path(user_album)) if user_album.user_album_image%>
    <h3><%=link_to truncate(user_album.title, :length => 40), detalhes_album_path(user_album)%> - <%=l user_album.created_at, :format => :short%></h3>
    </div>
    <% end %>
    <% end %>
    <div class="clear"></div>
    <%=will_paginate @user_albums%>
  </div>

  <% content_for :head do %>
  <%=stylesheet_link_tag 'frontend/home','frontend/albums'%>
  <% end %>  
<% end %>
