<%= simple_form_for(@admin_gallery_image) do |f| %>
<div class="module_content">

</div>
<footer>
  <div class="submit_link">
    <%= f.button :submit, :value => 'Salvar', :class => 'alt_btn' %>
  </div>
</footer>
<% end %>