<div id="top-image">
  <%=image_tag gallery.image_front.url(:big)%><br />
  <iframe src="//www.facebook.com/plugins/like.php?href=<%=request.url%>&amp;send=false&amp;layout=button_count&amp;width=400&amp;show_faces=false&amp;action=like&amp;colorscheme=light&amp;font=tahoma&amp;height=21" scrolling="no" frameborder="0" style="margin-top:10px;border:none; overflow:hidden; width:400px; height:21px;" allowTransparency="true"></iframe>
</div>
<div id="details">
<ul class="disc">
  <li>Realizar em: <strong><%=l gallery.realized_at %></strong></li>
  <% if gallery.place %>
  <li>Local: <strong><%= gallery.place.name%></strong></li>
  <li><%= gallery.place.address %></li>
  <% end %>
  <% if gallery.event %>
  <li>Evento associado: <strong><%= link_to gallery.event.title, detalhes_agenda_path(gallery.event)%></strong></li>
  <% end %>
  <% unless gallery.photographers.blank? %>
  <li>Fotógrafo(s): <strong><%= gallery.photographers%></strong></li>
  <% end %>
  <li>Categoria: <strong><%=gallery.gallery_category.name%></strong></li>
</ul>
<%=simple_format gallery.description%>
</div>
<div class="clear"></div>
<h2><%=gallery.gallery_images.count%> fotos</h2>
<ul id="images-carousel" class="jcarousel-skin-tango">
  <% gallery.gallery_images.each do |gallery_image|%>
  <li>
  <%=link_to(image_tag(gallery_image.image.url(:thumb)),galeria_ver_foto_path(gallery_image.gallery,gallery_image), :class => 'gallery_image_modal', :rel => 'gallery_images')%>
  <br />
  <%=link_to('baixar',gallery_image.image.url(:detail), :target => '_blank')%>
  </li>
  <% end %>
</ul>

<% content_for :head do %>
<%=stylesheet_link_tag 'frontend/galerias','colorbox'%>
<%=javascript_include_tag 'frontend/jquery.colorbox'%>

<%=javascript_tag do%>


$(document).ready(function() {
  $('#images-carousel').jcarousel({visible: 7});
  $('.gallery_image_modal').colorbox({ width: '850px', height: '100%', rel:'gallery_images'});
});
<% end %>
<% end %>