<h1 class="red">agito</h1>
<h2 class="red">:) <%=@gallery.title%></h2>
<% content_for :title do %>
<%=@gallery.title%>
<% end %>

<%=render :partial => 'galerias/show', :locals => {:gallery => @gallery}%>