<h1 class="red">Registre-se</h1>
<p>Fazendo sua conta você terá benefícios únicos</p>
<ul class="disc">
  <li>Comentar suas fotos e fotos de amigos</li>
  <li>Realizar marcações em seus álguns</li>
  <li>Participar de promoções</li>
</ul>

<%=form_for @user || User.new, :url => usuarios_criar_path, :html => {:class => 'form', :id => 'user_form'} do |f|%>

<%=f.error_messages%>
<p>
<%=f.label :name %>
<%=f.text_field :name, :class => 'text required' %>
</p>

<p>
<%=f.label :email %>
<%=f.text_field :email, :class => 'text required' %>
</p>
<div class="clear"></div>

<p>
<%=f.label :password %>
<%=f.password_field :password, :class => 'text required' %>
</p>

<p>
<%=f.label :password_confirmation %>
<%=f.password_field :password_confirmation, :class => 'text required' %>
</p>
<div class="clear"></div>

<p>
<%=f.label :about %>
<%=f.text_area :about, :class => 'text', :style => "height: 229px" %>
</p>

<p>
<%=f.label :avatar, 'Avatar (sua imagem)' %>
<%=f.file_field :avatar, :class => 'text' %>
</p>

<p>
<%=f.label :facebook_url %>
<%=f.text_field :facebook_url, :class => 'text' %>
</p>

<p>
<%=f.label :twitter_url %>
<%=f.text_field :twitter_url, :class => 'text' %>
</p>

<p>
  <%=f.submit 'Criar sua conta', :class => :submit%>
</p>

<% end %>

<script type="text/javascript" charset="utf-8">
  $(document).ready(function(){
    $('#user_form').validate()
  })
</script>