<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @admin_gallery_category.name %>
</p>


<%= link_to 'Edit', edit_admin_gallery_category_path(@admin_gallery_category) %> |
<%= link_to 'Back', admin_gallery_categories_path %>
