<%= simple_form_for([:admin,@user], :html => {:multipart => true}) do |f| %>
<div class="module_content">

  <fieldset>
    <%= f.input :email, :input_html => {:type => :text} %>
  </fieldset>
  <fieldset>
    <%= f.input :password %>
  </fieldset>
  <fieldset>
    <%= f.input :password_confirmation %>
  </fieldset>
  <fieldset>
    <%= f.input :name %>
  </fieldset>
  <fieldset>
    <%= f.input :avatar %>
  </fieldset>
  <fieldset>
    <%= f.input :about, :input_html => {:rows => 15} %>
  </fieldset>
  <fieldset>
    <%= f.input :facebook_url, :input_html => {:type => :text} %>
  </fieldset>
  <fieldset>
    <%= f.input :twitter_url, :input_html => {:type => :text} %>
  </fieldset>
  <fieldset>
    <%= f.input :admin %>
  </fieldset>
  <fieldset>
    <%= f.input :photographer %>
  </fieldset>
</div>
<footer>
  <div class="submit_link">
    <%= f.button :submit, :value => 'Salvar', :class => 'alt_btn' %>
  </div>
</footer>
<% end %>