<%
title 'Usuários - Alterando Usuário'
breadcrumbs([
  {:text => 'Usuários', :url => admin_users_path},
  {:text => 'Alterando usuário'},
])
%>
<article class="module width_full">
  <header><h3>Alterando usuário</h3></header>
  <%= render 'form' %>
</article>