<%
title 'Usuários - Novo Usuário'
breadcrumbs([
  {:text => 'Usuários', :url => admin_users_path},
  {:text => 'Novo usuário'},
])
%>
<article class="module width_full">
  <header><h3>Novo usuário</h3></header>
  <%= render 'form' %>
</article>