<p id="notice"><%= notice %></p>

<p>
  <b>Email:</b>
  <%= @admin_user.email %>
</p>

<p>
  <b>Password:</b>
  <%= @admin_user.password %>
</p>

<p>
  <b>Name:</b>
  <%= @admin_user.name %>
</p>

<p>
  <b>Avatar:</b>
  <%= @admin_user.avatar %>
</p>

<p>
  <b>About:</b>
  <%= @admin_user.about %>
</p>

<p>
  <b>Facebook url:</b>
  <%= @admin_user.facebook_url %>
</p>

<p>
  <b>Twitter url:</b>
  <%= @admin_user.twitter_url %>
</p>

<p>
  <b>Admin:</b>
  <%= @admin_user.admin %>
</p>

<p>
  <b>Photographer:</b>
  <%= @admin_user.photographer %>
</p>


<%= link_to 'Edit', edit_admin_user_path(@admin_user) %> |
<%= link_to 'Back', admin_users_path %>
