<div id="list-collyriums">
  <h1 class="purpple">últimas garotas da semana</h1>
  <% @collyriums.in_groups_of(3,false).each do |collyriums_group| %>
  <% collyriums_group.each_with_index do |collyrium,i| %>
  <div class="collyrium-box box-list <%='first' if i == 0%>">
    <%= link_to image_tag(collyrium.image_front.url(:home), :size => '238x92'), detalhes_colirio_path(collyrium), :title => collyrium.title  -%>
    <h3><%=link_to truncate(collyrium.title, :length => 25), detalhes_colirio_path(collyrium), :title => collyrium.title %> - <%=l collyrium.realized_at.to_date, :format => :default %></h3>
  </div>
  <% end %>
  <% end %>
  <div class="clear"></div>
  <%=will_paginate @collyriums%>
</div>
<div class="clear"></div>


<% content_for :head do %>
<%=stylesheet_link_tag 'frontend/colirios'%>
<% end %>
