<%
title 'Vídeos - Alterando Vídeo'
breadcrumbs([
  {:text => 'Vídeos', :url => admin_videos_path},
  {:text => 'Alterando vídeo'},
])
%>
<article class="module width_full">
  <header><h3>Alterando vídeo</h3></header>
  <%= render 'form' %>
</article>