<%
title 'Vídeos - Novo Vídeo'
breadcrumbs([
  {:text => 'Vídeos', :url => admin_videos_path},
  {:text => 'Novo vídeo'},
])
%>
<article class="module width_full">
  <header><h3>Novo vídeo</h3></header>
  <%= render 'form' %>
</article>