<p id="notice"><%= notice %></p>

<p>
  <b>Video category:</b>
  <%= @admin_video.video_category %>
</p>

<p>
  <b>Title:</b>
  <%= @admin_video.title %>
</p>

<p>
  <b>Url:</b>
  <%= @admin_video.url %>
</p>


<%= link_to 'Edit', edit_admin_video_path(@admin_video) %> |
<%= link_to 'Back', admin_videos_path %>
