<%
title 'Categorias de Eventos - Nova Categoria'
breadcrumbs([
  {:text => 'Categorias de eventos', :url => admin_event_categories_path},
  {:text => 'Nova categoria'},
])
%>
<article class="module width_full">
  <header><h3>Nova categoria de evento</h3></header>
  <%= render 'form' %>
</article>