<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @admin_event_category.name %>
</p>


<%= link_to 'Edit', edit_admin_event_category_path(@admin_event_category) %> |
<%= link_to 'Back', admin_event_categories_path %>
